{% extends 'common/base.html' %}

{% block content %}
<div class="col-md-8">
	<h1>最新发布</h1>
	<!-- 标题，标签，分类，留言总数，发布时间 -->
	{% for article in articles %}
	<article>
		<h2><a href="{{ article.get_absolute_url}}">{{ article.title}}</a></h2>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<span class="glyphicon glyphicon-folder-open"></span>
				{% for category in article.category.all %}
				&nbsp;&nbsp;<a href="">{{ category }}</a>&nbsp;&nbsp;				
				{% endfor %}
				<span class="glyphicon glyphicon-tags"></span>
				{% for tag in article.tag.all %}
				&nbsp;&nbsp;<a href="">{{tag}}</a>
				{% endfor %}				
			</div>
			<div class="col-md-6 col-sm-6">
				<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;<a href="">200条评论</a>
				&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<a href="">{{ article.created_at }}</a>
				&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ article.visited }}
			</div>
		</div>
		<hr>

		<img src="http://placekitten.com/900/300" class="img-responsive">
		<br />
		<p class="lead">{{ article.abstract }}</p>
		<p>
			{{ article.content | truncatechars:100}}
		</p>
		<p class="text-right"><a href="{% url 'detail' article.id %}">阅读全文...</a></p>
		<hr>
	</article>
	{% endfor %}

	<!-- 分页 -->
	<ul class="pager">
		{% if articles.has_previous %}
		<li class="previous">
			<a href="?page=1">&laquo; 首页</a>
			<a href="?page={{ articles.previous_page_number }}"><span aria-hidden="true">&larr;</span> 上一页</a>
		</li>
		{% endif %}
		<!-- <span class="current">
			Page {{ articles.number }} of {{ articles.pageinator.num_pages }}
		</span> -->
		{% for current_page in articles.paginator.page_range %}
		<li><a href="?page={{ current_page }}">{{ current_page }}</a></li>
		{% endfor %}
		{% if articles.has_next %}
		<li class="next">
			<a href="?page={{ articles.next_page_number }}">下一页 <span aria-hidden="true">&rarr;</span></a>
		</li>
		{% endif %}
	</ul>
</div>
{% include 'common/aside.html' %}
{% endblock %}