{% extends 'common/base.html' %}

{% block content %}

{% load comments %}

<div class="col-md-8">
	<h1>最新发布</h1>
	<!-- 标题，标签，分类，留言总数，发布时间 -->
	<article>
		<h2><a href="#">{{ article.title }}</a></h2>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<span class="glyphicon glyphicon-folder-open"></span>
				{% for category in article.category.all %}
				&nbsp;&nbsp;<a href="">{{ category }}</a>&nbsp;&nbsp;				
				{% endfor %}
				<span class="glyphicon glyphicon-tags"></span>
				{% for tag in article.tag.all %}
				&nbsp;&nbsp;<a href="">{{tag}}</a>
				{% endfor %}
			</div>
			<div class="col-md-6 col-sm-6">
				<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;<a href="">200条评论</a>
				&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<a href="">{{ article.created_at }}</a>
				&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ article.visited }}
			</div>
		</div>
		<hr>

		<img src="http://placekitten.com/900/300" class="img-responsive">
		<br />
		<p class="lead">{{ article.abstract_to_html | safe }}</p>
		<p>
			{{ article.content_to_html | safe }}
		</p>
		<ul class="pager">
			<li class="previous"><a href="{% url 'index' %}"> 返回主页</a></li>
		</ul>
		<div class="well">
			<h4>评论区</h4>			
			{% get_comment_form for article as form %}
			<form class="clearfix" action="{% comment_form_target %}" method="POST">
				{% csrf_token %}
				
				{{ form.content_type }} 
				{{ form.object_pk }}
				{{ form.timestamp }}
				{{ form.security_hash }}
				<div class="form-group col-md-6">
					<label for="username">用户名字</label>
					<input name="name" type="text" class="form-control" id="username" placeholder="名字">
				</div>
				<div class="form-group col-md-6">
					<label for="exampleInputEmail1">邮箱</label>
					<input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
				</div>
				<div class="form-group col-md-12">
					<textarea name="comment" class="form-control" id="comment" placeholder="评论内容..."></textarea>
				</div>
				<div class="form-group text-right">
					<input type="hidden" name="next" value="{% url 'detail' article.id %}" />
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</form>			
			<ul id="comments" class="comments" style="list-style-type: none;">
				{% get_comment_list for article as comment_list %}
				{% for comment in comment_list %}
					<li class="comment">
						<div class="clearfix">
							<p class="pull-right">{{ comment.submit_date }}</p>
							<p class="pull-left" style="font-size:16px;">
								<a href="" name="{{ comment.id }}">{{comment}}</a>
							</p>
						</div>
						<a href="">回复</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		
		<hr>
	</article>
</div>
{% include 'common/aside.html' %}
{% endblock %}